body#page1 {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(90deg, #FEAC5E, #C779D0, #4BC0C8);
}

body#page2 {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(90deg, #2C3E50, #4CA1AF);
}

/* Styling navbar */
.navbar {
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
}
.nav-link,
.navbar-brand {
    cursor: pointer;
    padding-left: 20px;
}
.navbar-brand {
    color: black !important;
    font-family: 'Yellowtail';
    font-size: 35px;
}
/* use !important to override navbar-dark settings */
.navbar-brand:hover {
    color: red !important;
}
.nav-link {
    margin-right: 1em !important;
    color: white !important;
    padding-left: 15px !important;
    font-size: 20px;
    font-family: 'Playfair Display';
}
.nav-link:hover {
    color: red !important;
}
.navbar-collapse {
    justify-content: flex-end;
}

.active {
    color: black !important;
    font-weight: bold !important;
}
/* Style header/welcome */
.header {
    /* https://www.pinterest.com/pin/119838040054935730/ */
    background-image: url('/imgs/blackbackground.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Overlay over background image to make it darker */
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.welcome {
    left: 50%;
    position: absolute;
    top: 15%;
    transform: translate(-50%, -55%);
    text-align: center;
    margin-top: 400px;
    
}

.welcome h1 {
    color: white;
    font-family: "Rancho", cursive;
    font-size: 60px;
}

.welcome p {
    color:white;
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: 'Roboto';
}

.personal {
    padding-bottom: 40px;
    max-width: 300px;
    height: auto;
    text-align: center;
}

.test {
    padding-bottom: 300px;
}

.header-link {
    color: gold;
    padding-right: 20px;
}
.bar {
    /* margin-top: 100px; */
    background-color: #f9f9ff;
    padding-bottom: 50px;
    text-align:center;
}

.bar h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: Georgia;
    color: black;
}

.bar p {
    color:black;

}
/* Style interests section */
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;    
}

.add-row {
    padding-top: 50px;
}

.interests {
    margin-bottom: 50px;
    margin-top: -20px;
    /* padding-bottom: 50px; */
}

.interests h1 {
    font-family: Georgia;
    text-align: center;
    color: black;
}
.item2 {
    background-color: white;
    padding: 20px;
    border: 4px solid transparent;
    transition: transform .2s;
    color: black;
}

.item2:hover {
    border: 4px solid black;
    transform: scale(1.1);
}
.feature-title {
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    max-width: auto;
    max-height:100px;
    margin-bottom: 25px;
}

.center-img {
    text-align: center;
}

.img-fluid:hover {
    opacity: .3;
}

.no-link:hover {
    opacity: 1;
}

/* Styling footer */
.page-footer {
    background-color: black;
    color: white;
    padding: 60px 0 30px;
    /* padding-top: 100px; */
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: cyan;
}

/* Media page */
.carousel-container {
    background-image: linear-gradient(90deg, #43C6AC, #F8FFAE);
    padding-bottom: 20px;
}

.carousel-container h1 {
    padding-top: 40px;
    margin-bottom: -30px;
}

.carousel-item {
    height: 750px;
    background-image: linear-gradient(90deg, #43C6AC, #F8FFAE);
    position: relative;
    display: inline-block;
    text-align: center;
}

.carousel-item img {
    max-height: 100%;
    width: 90%;
}

/* .img-test {
    padding-bottom: -200px;
}

.carousel-caption {
    padding-top: -500px;
} */

.carousel-caption p {
    opacity: .7;
    color: black;
}

/* Portfolio Section */
#portfolio {
    color: white;
    /* text-shadow:
    -1px -1px 0 blue,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; */
}

/* Style portfolio section */
.interests h1 {
    font-family: Georgia;
    text-align: center;
    color: black;
}
.item2 {
    background-color: white;
    padding: 20px;
    border: 4px solid transparent;
    transition: transform .2s;
    color: black;
}

.item2:hover {
    border: 4px solid black;
    transform: scale(1.1);
}
.feature-title#ppp {
    color: red;
}
.features img#pimg {
    max-width: auto;
    max-height:200px;
}

.foo:hover {
    opacity: .3;
}


@media (max-width: 575.98px) {
    .welcome {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .welcome h1 {
        font-size: 2em;
    }
 
    .welcome p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}